body {
    width:350px;
}

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

section {
    line-height:30px;
    background-color:#eeeeee;
    float:center;
    padding:5px;
}

footer {
    float:left;
    padding:10px;
}

nav {
    line-height:30px;
    background-color:#696363;
    height: auto;
}

#menu {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu a {
    text-decoration: none;
    color: #151414;
    display: block;
}

#menu a:hover {
    background-color: #FFF;
}